<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1> Welcome back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to my website! </h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
    
         <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="sr-only">45% Complete</span>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecciona tu Estado
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Aguascalientes</button>
                <button class="dropdown-item" type="button">Baja California</button>
                <button class="dropdown-item" type="button">Baja California Sur</button>
                <button class="dropdown-item" type="button">Campeche</button>
                <button class="dropdown-item" type="button">Campeche</button>
                <button class="dropdown-item" type="button">CDMX</button>
                <button class="dropdown-item" type="button">Chiapas</button>
                <button class="dropdown-item" type="button">Coahuila</button>
                <button class="dropdown-item" type="button">Colima</button>
                <button class="dropdown-item" type="button">Durango</button>
                <button class="dropdown-item" type="button">Guanajuato</button>
                <button class="dropdown-item" type="button">Guerrero</button>
                <button class="dropdown-item" type="button">Hidalgo</button>
                <button class="dropdown-item" type="button">Jalisco</button>
                <button class="dropdown-item" type="button">Estado de Mexico</button>
                <button class="dropdown-item" type="button">Michoacán</button>
                <button class="dropdown-item" type="button">Morelos</button>
                <button class="dropdown-item" type="button">Nayarit</button>
                <button class="dropdown-item" type="button">Nuevo León</button>
                <button class="dropdown-item" type="button">Oaxaca</button>
                <button class="dropdown-item" type="button">Puebla</button>
                <button class="dropdown-item" type="button">Querétaro</button>
                <button class="dropdown-item" type="button">Quintana Roo</button>
                <button class="dropdown-item" type="button">San Luis Potosí</button>
                <button class="dropdown-item" type="button">Sinaloa</button>
                <button class="dropdown-item" type="button">Sonora</button>
                <button class="dropdown-item" type="button">Tabasco</button>
                <button class="dropdown-item" type="button">Tamaulipas</button>
                <button class="dropdown-item" type="button">Tlaxcala</button>
                <button class="dropdown-item" type="button">Veracruz</button>
                <button class="dropdown-item" type="button">Yucatán</button>
                <button class="dropdown-item" type="button">Zacatecas</button>
            </div>
        </div>
     </div>
    </div>
<% end %>     